In [95]:
import os
import re
import glob
import difflib
import pandas as pd
import numpy as np
import itertools
import seaborn as snn
import matplotlib.pyplot as plt
from datetime import datetime, date
from dateutil import relativedelta
from sklearn import cluster
%matplotlib inline

# LOAD DATA TO DICTIONARY

In [55]:
path = 'C:/analyticsdev/Projects/EXPECTEDX/Alloe/data'
files = glob.glob(os.path.join(path, "*.csv"))

raw_data = [pd.read_csv(name) for name in files]
df_names = [re.findall('(?<=\.)[a-zA-Z]+(?=\.)', names) for names in files]
df_names = itertools.chain(*df_names)
raw_data = dict(zip(df_names, raw_data))

# WRANGLING FUNCS

In [56]:
answer = raw_data['answer']
answer['survey'] = answer['survey'].apply(lambda x: re.split(' (?=@)',x)[0])
answer['user'] = answer['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [57]:
answer = answer.pivot_table(index='user', 
                            columns='survey', 
                            values='answer', 
                            aggfunc=lambda x: ' '.join(str(v) for v in x))
answer = answer.add_suffix('_surv')

In [58]:
#user = raw_data['user'][['_id',
 #                        'active',
  #                       'dob',
   #                      'gender',
    #                     'heightFeet',
     #                    'heightInches',
      #                   'joined',
       #                  'weight']]

In [59]:
#main = user.merge(answer, 
 #                 how='left', 
  #                left_on='_id', 
   #               right_index=True, 
    #              sort=True)

In [60]:
main = raw_data['user'][['_id',
                         'active',
                         'dob',
                         'gender',
                         'heightFeet',
                         'heightInches',
                         'joined',
                         'weight']]

In [61]:
main['dob'] = main['dob'].apply(lambda x: pd.to_datetime(x))
main['joined'] = main['joined'].apply(lambda x: pd.to_datetime(x))

main['age'] = main['dob'].apply(lambda x: relativedelta.relativedelta(date.today(), datetime.date(x)).years)
main['act_time'] = main['joined'].apply(lambda x: (date.today() - datetime.date(x)).days)

In [62]:
chal_inv = raw_data['challengeInvitation']
chal_inv['challenge'] = chal_inv['challenge'].apply(lambda x: re.split(' (?=@)',x)[0])
chal_inv['friend'] = chal_inv['friend'].apply(lambda x: re.split(' (?=@)',x)[0])
chal_inv['user'] = chal_inv['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [63]:
chal_inv = chal_inv.pivot_table(index='user',
                                columns='challenge', 
                                values='friend',
                                aggfunc=lambda x: ' '.join(str(v) for v in x))
chal_inv = chal_inv.add_suffix('_chalinv')

In [64]:
#main = main.merge(chal_inv,
 #                 how='left',
  #                left_on='_id',
   #               right_index=True,
    #              sort=True)

Don't understand relationships between "challenger" table and "challengeInvitation" table 'user' column

In [65]:
frnd_rq = raw_data['friendship']
frnd_rq['friend'] = frnd_rq['friend'].apply(lambda x: re.split(' (?=@)',x)[0])
frnd_rq['user'] = frnd_rq['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [66]:
frnd_rq = frnd_rq.pivot_table(index='user',
                              columns='friend',
                              values='status',
                              aggfunc=lambda x: ' '.join(str(v) for v in x))
frnd_rq = frnd_rq.add_suffix('_friendid')

In [67]:
#main = main.merge(frnd_rq,
 #                 how='left',
  #                left_on='_id',
   #               right_index=True,
    #              sort=True)

In [68]:
event_ast = raw_data['assistantEvent']
event_ast['event'] = event_ast['event'].apply(lambda x: re.split(' (?=@)',x)[0])
event_ast['user'] = event_ast['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [69]:
event_ast = event_ast.pivot_table(index='user',
                                  columns='event',
                                  values='_id',
                                  aggfunc=lambda x: ' '.join(str(v) for v in x))
event_ast = event_ast.add_suffix('_eventid')

In [70]:
#main = main.merge(event_ast,
 #                 how='left',
  #                left_on='_id',
   #               right_index=True,
    #              sort=True)

In [71]:
post = raw_data['post']
post['user'] = post['user'].apply(lambda x: re.split(' (?=@)',x)[0])
post['item._class'] = post['item._class'].apply(lambda x: re.sub('[a-z].+\.(?=[A-Z])', '', str(x)))

In [72]:
post['counter'] = int(1)
post = post.pivot_table(index='user',
                        columns='item._class',
                        values='counter',
                        aggfunc='sum')

In [73]:
main = main.merge(post,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

In [74]:
metrics_miles_time = raw_data['post'][['user','item.miles','item.time','item.positions']]
metrics_miles_time = metrics_miles_time.groupby(metrics_miles_time.user).sum()

metrics_exercise = raw_data['post'][['user','item.exercise']]
metrics_exercise['counter'] = int(1)

metrics_chals_sent = pd.DataFrame(chal_inv.count(axis=1), columns={'chal_sent'})
metrics_chals_unique = pd.DataFrame(chal_inv.nunique(axis=1), columns={'chal_unique'})
metrics_chals_uratio = metrics_chals_sent.join(metrics_chals_unique)
metrics_chals_uratio['chal_uni_frnd'] = metrics_chals_uratio['chal_sent']/metrics_chals_uratio['chal_unique']

metrics_frnd_sent = pd.DataFrame(frnd_rq.count(axis=1), columns={'frnd_sent'})

In [75]:
metrics_exercise = metrics_exercise.pivot_table(index='user',
                                                columns='item.exercise',
                                                values='counter',
                                                aggfunc='sum')

In [76]:
main = main.merge(metrics_miles_time,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(metrics_exercise,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(metrics_chals_uratio,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(frnd_rq.apply(pd.value_counts, axis=1)[['ACCEPTED','PENDING','WAITING']],
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main.drop(353, inplace=True) #Record is all NaN
main.drop(['dob','joined','CompanyMessage'], axis=1, inplace=True)

In [77]:
list(main)

['_id',
 'active',
 'gender',
 'heightFeet',
 'heightInches',
 'weight',
 'age',
 'act_time',
 'BloodPressureCheckIn',
 'Challenger',
 'CholesterolCheckIn',
 'EventCheckIn',
 'FitbitCheckIn',
 'FoodCheckIn',
 'GlucoseCheckIn',
 'GymCheckIn',
 'MovesChallenge',
 'MovesCheckIn',
 'PictureChallenge',
 'RunningCheckIn',
 'WeightCheckIn',
 'YogaCheckIn',
 'item.miles',
 'item.time',
 'item.positions',
 'CARDIO',
 'FITNESS',
 'OTHER',
 'SWIMMING',
 'WEIGHTS',
 'chal_sent',
 'chal_unique',
 'chal_uni_frnd',
 'ACCEPTED',
 'PENDING',
 'WAITING']

In [78]:
#event = main.filter(regex='_eventid')
#friend = main.filter(regex='_friendid')

GIVE 'EVENT' AND 'FRIEND' THEIR OWN TABLES AND SCORE THEM ADDED TO 'MAIN' DATA FRAME

EXTRA COLUMNS LIKE "ACCEPTED ACCEPTED" HAVE A 1 OCCASIONALLY. NOT SURE IF ISSUE WITH RAW DATA OR 'APPLY' FUNCTION

In [79]:
main.describe()

,heightFeet,heightInches,weight,age,act_time,BloodPressureCheckIn,Challenger,CholesterolCheckIn,EventCheckIn,FitbitCheckIn,...,FITNESS,OTHER,SWIMMING,WEIGHTS,chal_sent,chal_unique,chal_uni_frnd,ACCEPTED,PENDING,WAITING
count,479.000000,469.000000,436.000000,590.000000,590.000000,55.000000,331.000000,5.00000,166.000000,29.000000,...,100.000000,244.000000,35.000000,113.000000,94.000000,94.000000,94.000000,313.000000,336.000000,113.000000
mean,5.352818,6.053305,178.158612,31.367797,592.144068,1.218182,2.691843,1.80000,17.108434,16.137931,...,16.000000,35.688525,12.657143,40.265487,1.755319,1.287234,1.397163,14.217252,5.928571,17.628319
std,2.491565,4.709435,289.608631,9.596192,295.883325,1.242621,3.014394,0.83666,28.048448,15.080082,...,36.375427,78.106457,32.652306,74.277234,0.946825,0.560766,0.654050,23.860252,5.626771,42.107684
min,3.000000,0.000000,15.000000,0.000000,27.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,3.000000,140.000000,28.000000,328.250000,1.000000,1.000000,1.00000,2.000000,7.000000,...,1.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000
50%,5.000000,6.000000,160.000000,31.000000,602.000000,1.000000,2.000000,2.00000,5.000000,16.000000,...,3.000000,8.000000,2.000000,7.000000,1.000000,1.000000,1.000000,6.000000,4.000000,4.000000
75%,5.000000,9.000000,185.000000,35.000000,914.000000,1.000000,3.000000,2.00000,16.750000,20.000000,...,13.250000,31.500000,3.000000,44.000000,2.000000,1.000000,2.000000,17.000000,8.000000,12.000000
max,55.000000,68.000000,6158.000000,70.000000,971.000000,10.000000,26.000000,3.00000,172.000000,77.000000,...,254.000000,648.000000,177.000000,402.000000,5.000000,3.000000,4.000000,222.000000,36.000000,288.000000