In [178]:
import os
import re
import glob
import difflib
import pandas as pd
import numpy as np
import itertools
from datetime import datetime, date
from dateutil import relativedelta

# LOAD DATA TO DICTIONARY

In [179]:
path = 'C:/analyticsdev/Projects/EXPECTEDX/Alloe/data'
files = glob.glob(os.path.join(path, "*.csv"))

raw_data = [pd.read_csv(name) for name in files]
df_names = [re.findall('(?<=\.)[a-zA-Z]+(?=\.)', names) for names in files]
df_names = itertools.chain(*df_names)
raw_data = dict(zip(df_names, raw_data))

# WRANGLING FUNCS

In [180]:
answer = raw_data['answer']
answer['survey'] = answer['survey'].apply(lambda x: re.split(' (?=@)',x)[0])
answer['user'] = answer['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [181]:
answer = answer.pivot_table(index='user', 
                            columns='survey', 
                            values='answer', 
                            aggfunc=lambda x: ' '.join(str(v) for v in x))
answer = answer.add_suffix('_surv')

In [212]:
user = raw_data['user'][['_class',
                         '_id',
                         'active',
                         'dob','gender',
                         'heightFeet',
                         'heightInches',
                         'joined',
                         'weight']]

In [213]:
main = user.merge(answer, 
                  how='left', 
                  left_on='_id', 
                  right_index=True, 
                  sort=True)

In [327]:
main['dob'] = main['dob'].apply(lambda x: pd.to_datetime(x))
main['joined'] = main['joined'].apply(lambda x: pd.to_datetime(x))

main['age'] = main['dob'].apply(lambda x: relativedelta.relativedelta(date.today(), datetime.date(x)).years)
main['act_time'] = main['joined'].apply(lambda x: (date.today() - datetime.date(x)).days)

In [184]:
chal_inv = raw_data['challengeInvitation']
chal_inv['challenge'] = chal_inv['challenge'].apply(lambda x: re.split(' (?=@)',x)[0])
chal_inv['friend'] = chal_inv['friend'].apply(lambda x: re.split(' (?=@)',x)[0])
chal_inv['user'] = chal_inv['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [185]:
chal_inv = chal_inv.pivot_table(index='user',
                                columns='challenge', 
                                values='friend',
                                aggfunc=lambda x: ' '.join(str(v) for v in x))
chal_inv = chal_inv.add_suffix('_chalinv')

In [186]:
main = main.merge(chal_inv,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

Don't understand relationships between "challenger" table and "challengeInvitation" table 'user' column

In [187]:
frnd_rq = raw_data['friendship']
frnd_rq['friend'] = frnd_rq['friend'].apply(lambda x: re.split(' (?=@)',x)[0])
frnd_rq['user'] = frnd_rq['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [188]:
frnd_rq = frnd_rq.pivot_table(index='user',
                              columns='friend',
                              values='status',
                              aggfunc=lambda x: ' '.join(str(v) for v in x))
frnd_rq = frnd_rq.add_suffix('_friendid')

In [189]:
#main = main.merge(frnd_rq,
 #                 how='left',
  #                left_on='_id',
   #               right_index=True,
    #              sort=True)

In [190]:
event_ast = raw_data['assistantEvent']
event_ast['event'] = event_ast['event'].apply(lambda x: re.split(' (?=@)',x)[0])
event_ast['user'] = event_ast['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [191]:
event_ast = event_ast.pivot_table(index='user',
                                  columns='event',
                                  values='_id',
                                  aggfunc=lambda x: ' '.join(str(v) for v in x))
event_ast = event_ast.add_suffix('_eventid')

In [192]:
#main = main.merge(event_ast,
 #                 how='left',
  #                left_on='_id',
   #               right_index=True,
    #              sort=True)

In [193]:
post = raw_data['post']
post['user'] = post['user'].apply(lambda x: re.split(' (?=@)',x)[0])

In [194]:
post['counter'] = int(1)
post = post.pivot_table(index='user',
                        columns='item._class',
                        values='counter',
                        aggfunc='sum')
post = post.add_suffix('_posttype')

In [195]:
main = main.merge(post,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

In [196]:
metrics_miles_time = raw_data['post'][['user','item.miles','item.time','item.positions']]
metrics_miles_time = metrics_miles_time.groupby(metrics_miles_time.user).sum()

metrics_exercise = raw_data['post'][['user','item.exercise']]
metrics_exercise['counter'] = int(1)

metrics_chals_sent = pd.DataFrame(chal_inv.count(axis=1), columns={'chal_sent'})
metrics_chals_unique = pd.DataFrame(chal_inv.nunique(axis=1), columns={'chal_unique'})
metrics_chals_uratio = metrics_chals_sent.join(metrics_chals_unique)
metrics_chals_uratio['chal_uni_frnd'] = metrics_chals_uratio['chal_sent']/metrics_chals_uratio['chal_unique']

metrics_frnd_sent = pd.DataFrame(frnd_rq.count(axis=1), columns={'frnd_sent'})

In [197]:
metrics_exercise = metrics_exercise.pivot_table(index='user',
                                                columns='item.exercise',
                                                values='counter',
                                                aggfunc='sum')

In [198]:
main = main.merge(metrics_miles_time,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(metrics_exercise,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(metrics_chals_uratio,
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

main = main.merge(frnd_rq.apply(pd.value_counts, axis=1)[['ACCEPTED','PENDING','WAITING']],
                  how='left',
                  left_on='_id',
                  right_index=True,
                  sort=True)

In [199]:
event = main.filter(regex='_eventid')
friend = main.filter(regex='_friendid')

In [328]:
main

,_class,_id,active,dob,gender,heightFeet,heightInches,joined,weight,55e098be0cf2f093a4371455_surv,568db6ef0cf2f21416e38ffe_surv,569499080cf2f21416e38fff_surv,57042f530cf2be1448154575_surv,57326d630cf268b0d7dc7db9_surv,582b9b9a0cf23ffbe2bbd190_surv,582b9da00cf23ffbe2bbd191_surv,age,act_time
185,com.litekey.alloe.model.User,54f530089932b01dbcffc89b,True,1982-03-02,FEMALE,5.0,3.0,2015-03-18 12:00:00.000,143.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,970
134,com.litekey.alloe.model.User,54f530c89932b01dbcffc89c,True,1972-03-02,MALE,5.0,11.0,2015-03-18 12:00:00.000,170.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,970
110,com.litekey.alloe.model.User,54f5ef739932b01dbcffc8a2,True,2015-03-22,MALE,6.0,NaN,2015-03-18 12:00:00.000,194.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,970
198,com.litekey.alloe.model.User,54f757f4993241fc498ec5d7,True,1984-08-25,MALE,5.0,11.0,2015-03-18 12:00:00.000,191.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,970
228,com.litekey.alloe.model.User,54f8f6f59932ce1b71e7317a,True,1983-09-17,NaN,NaN,NaN,2015-03-18 12:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,970
43,com.litekey.alloe.model.User,54fe33869932ce1b71e73193,True,1975-03-09,MALE,5.0,10.0,2015-03-18 12:00:00.000,180.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,970
53,com.litekey.alloe.model.User,54fe49989932ce1b71e73194,True,2011-03-09,MALE,NaN,NaN,2015-03-18 12:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,970
0,com.litekey.alloe.model.User,5509a55b993212d9d6de6e35,True,1986-02-27,NaN,NaN,NaN,2015-03-18 16:18:35.099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,970
315,com.litekey.alloe.model.User,550a054e993212d9d6de6e3e,True,1990-04-26,MALE,5.0,11.0,2015-03-18 23:07:58.017,185.80,Fitbit,None,None,None,None,None,None,27,970
15,com.litekey.alloe.model.User,550a1875993212d9d6de6e4e,True,1986-05-15,MALE,5.0,10.0,2015-03-19 00:29:41.654,185.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,969
446,com.litekey.alloe.model.User,550a6c30993212d9d6de6e63,True,1976-02-20,FEMALE,5.0,2.0,2015-03-19 06:26:56.421,135.00,Fitbit,None,None,nan,Yes within one mile of the office,None,None,41,969
21,com.litekey.alloe.model.User,550af727993212d9d6de6e76,True,1987-02-22,FEMALE,5.0,8.0,2015-03-19 16:19:51.982,118.00,Apple Watch,None,None,None,None,None,None,30,969
44,com.litekey.alloe.model.User,550b0e7a993212d9d6de6e86,True,1987-06-15,MALE,5.0,8.0,2015-03-19 17:59:22.893,NaN,Apple Watch,None,None,None,None,Maybe... Sometimes,In-home chef prepared dinner for 4,30,969
20,com.litekey.alloe.model.User,550b1631993212d9d6de6e8f,True,1990-06-18,MALE,6.0,0.0,2015-03-19 18:32:17.571,200.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,969
161,com.litekey.alloe.model.User,550b1aa8993212d9d6de6ea6,True,1982-02-05,NaN,5.0,7.0,2015-03-19 18:51:20.371,155.00,None,None,None,None,None,None,None,35,969
1,com.litekey.alloe.model.User,550b1ad0993212d9d6de6ea7,True,1992-12-17,FEMALE,5.0,7.0,2015-03-19 18:52:00.922,110.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,969
34,com.litekey.alloe.model.User,550b1b4f993212d9d6de6ee9,True,1991-06-24,MALE,5.0,2.0,2015-03-19 18:54:07.461,130.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,969
239,com.litekey.alloe.model.User,550b1c9f993212d9d6de6f05,True,1983-09-23,MALE,5.0,4.0,2015-03-19 18:59:43.749,155.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,969
2,com.litekey.alloe.model.User,550b1d3c993212d9d6de6f06,True,1987-07-01,FEMALE,5.0,3.0,2015-03-19 19:02:20.091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,969
23,com.litekey.alloe.model.User,550b1e77993212d9d6de6f15,True,1982-08-05,MALE,5.0,11.0,2015-03-19 19:07:35.164,171.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,969
480,com.litekey.alloe.model.User,550b1ebd993212d9d6de6f16,True,1965-07-07,MALE,5.0,10.0,2015-03-19 19:08:45.576,195.00,None,None,None,None,None,None,None,52,969
18,com.litekey.alloe.model.User,550b1f6a993212d9d6de6f1a,True,1985-09-24,NaN,NaN,NaN,2015-03-19 19:11:38.431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,969
19,com.litekey.alloe.model.User,550b2a66993212d9d6de6f51,True,1983-09-24,NaN,5.0,10.0,2015-03-19 19:58:30.689,175.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,969
29,com.litekey.alloe.model.User,550b2e0a993212d9d6de6f69,True,1989-03-09,NaN,5.0,6.0,2015-03-19 20:14:02.989,141.00,Jawbone,None,None,None,None,None,None,28,969
85,com.litekey.alloe.model.User,550b2e45993212d9d6de6f6a,True,1989-11-06,FEMALE,NaN,NaN,2015-03-19 20:15:01.387,NaN,nan,None,None,None,None,None,None,28,969
337,com.litekey.alloe.model.User,550b2ff0993212d9d6de6fba,True,1988-08-09,MALE,6.0,3.0,2015-03-19 20:22:08.797,200.00,None,None,None,None,None,None,None,29,969
4,com.litekey.alloe.model.User,550b30da993212d9d6de6ffa,True,1991-06-14,NaN,NaN,NaN,2015-03-19 20:26:02.633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,969
208,com.litekey.alloe.model.User,550b37db993212d9d6de70b2,True,1985-10-08,MALE,6.0,0.0,2015-03-19 20:55:55.442,145.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,969
24,com.litekey.alloe.model.User,550b410c993212d9d6de70c5,True,1980-02-23,MALE,6.0,0.0,2015-03-19 21:35:08.622,175.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,969
222,com.litekey.alloe.model.User,550b56bd993212d9d6de70e2,True,1986-04-04,MALE,5.0,9.0,2015-03-19 23:07:41.919,210.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,com.litekey.alloe.model.User,5981078c0cf21a1264c92d03,True,1981-05-06,MALE,5.0,8.0,2017-08-01 22:58:20.920,185.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,103
564,com.litekey.alloe.model.User,5981384e0cf21a1264c92e86,True,1989-10-21,FEMALE,5.0,7.0,2017-08-02 02:26:22.697,130.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,102
365,com.litekey.alloe.model.User,5981fcfb0cf21a1264c931e2,True,1991-07-16,MALE,6.0,0.0,2017-08-02 16:25:31.949,185.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,102
566,com.litekey.alloe.model.User,5982517b0cf21a1264c9326b,True,1993-07-25,FEMALE,5.0,4.0,2017-08-02 22:26:03.507,145.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,102
366,com.litekey.alloe.model.User,59876a000cf2f6a709cd0f9d,True,1979-08-06,MALE,NaN,NaN,2017-08-06 19:12:00.213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,98
568,com.litekey.alloe.model.User,598c9a530cf23ac860c2ed50,True,1988-05-09,MALE,5.0,11.0,2017-08-10 17:39:31.555,160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,94
569,com.litekey.alloe.model.User,59923a4b0cf23ac860c2f844,True,1985-10-07,MALE,5.0,10.0,2017-08-15 00:03:23.255,160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,89
571,com.litekey.alloe.model.User,5994bcf30cf23ac860c30002,True,1990-03-30,FEMALE,5.0,4.0,2017-08-16 21:45:23.906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,88
572,com.litekey.alloe.model.User,5994c0fd0cf23ac860c3001a,True,1989-11-18,MALE,6.0,0.0,2017-08-16 22:02:37.883,150.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,88
573,com.litekey.alloe.model.User,5994c9610cf23ac860c3005a,True,1981-08-12,FEMALE,5.0,3.0,2017-08-16 22:38:25.805,125.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,88
574,com.litekey.alloe.model.User,599b4b4f0cf23ac860c30d6b,True,1967-05-07,FEMALE,NaN,NaN,2017-08-21 21:06:23.924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,83
367,com.litekey.alloe.model.User,599cac300cf23ac860c31770,True,1988-11-12,FEMALE,5.0,1.0,2017-08-22 22:12:00.689,115.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,82
576,com.litekey.alloe.model.User,59a0b6ec0cf23ac860c32335,True,1986-11-04,MALE,6.0,0.0,2017-08-25 23:46:52.394,172.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,79
368,com.litekey.alloe.model.User,59a18d670cf23ac860c323f9,True,2002-09-23,FEMALE,5.0,3.0,2017-08-26 15:01:59.691,125.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,78
577,com.litekey.alloe.model.User,59a717340cf294679b36f58d,True,1987-04-10,FEMALE,5.0,8.0,2017-08-30 19:51:16.423,142.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,74
578,com.litekey.alloe.model.User,59a8afc70cf294679b36f86a,True,1996-10-11,MALE,5.0,11.0,2017-09-01 00:54:31.973,165.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,72
579,com.litekey.alloe.model.User,59ab1ce30cf294679b36fb4c,True,1986-01-03,FEMALE,5.0,6.0,2017-09-02 21:04:35.128,140.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,71
580,com.litekey.alloe.model.User,59aef84e0cf294679b36ffb7,True,1983-04-14,FEMALE,5.0,7.0,2017-09-05 19:17:34.859,182.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,68
581,com.litekey.alloe.model.User,59b8bc370cf2b2415f79e1d7,True,1994-06-19,FEMALE,NaN,NaN,2017-09-13 05:03:51.428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,60
583,com.litekey.alloe.model.User,59c048e70cf20846b04ef934,True,1989-03-10,MALE,5.0,11.0,2017-09-18 22:29:59.193,170.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,55
584,com.litekey.alloe.model.User,59c3373e0cf20846b04f0179,True,1976-08-07,FEMALE,5.0,1.0,2017-09-21 03:51:26.500,160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,52
370,com.litekey.alloe.model.User,59c540f40cf20846b04f06fe,True,1995-11-01,FEMALE,NaN,NaN,2017-09-22 16:57:24.664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,51
585,com.litekey.alloe.model.User,59cae5610cf20846b04f11b5,True,1993-04-11,FEMALE,5.0,7.0,2017-09-26 23:40:17.180,160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,47
586,com.litekey.alloe.model.User,59cd379d0cf20846b04f17b1,True,1982-11-10,FEMALE,5.0,2.0,2017-09-28 17:55:41.253,110.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,45
587,com.litekey.alloe.model.User,59ce7e410cf20846b04f1a43,True,1989-12-13,FEMALE,5.0,3.0,2017-09-29 17:09:21.464,123.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,44
588,com.litekey.alloe.model.User,59ce80620cf20846b04f1a46,True,1986-05-25,MALE,5.0,9.0,2017-09-29 17:18:26.159,178.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,44
589,com.litekey.alloe.model.User,59de5b230cf207bd727b51ac,True,1983-06-14,FEMALE,NaN,NaN,2017-10-11 17:55:47.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,32
109,com.litekey.alloe.model.User,59e5cb5a0cf207bd727b5f7b,True,2017-09-11,FEMALE,NaN,NaN,2017-10-17 09:20:26.949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,26
590,com.litekey.alloe.model.User,59e64b090cf207bd727b603e,True,1989-09-20,FEMALE,5.0,4.0,2017-10-17 18:25:13.249,122.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,26
353,com.litekey.alloe.model.User,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,736644

GIVE 'EVENT' AND 'FRIEND' THEIR OWN TABLES AND SCORE THEM ADDED TO 'MAIN' DATA FRAME

EXTRA COLUMNS LIKE "ACCEPTED ACCEPTED" HAVE A 1 OCCASIONALLY. NOT SURE IF ISSUE WITH RAW DATA OR 'APPLY' FUNCTION

970